body {
	font-family: 'Josefin Sans', sans-serif;
}

.margin5 {
	margin-top: 5%;
}

.margin2 {
	margin-top: 2%;
}

.flexbox-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.width-50vw {
	width: 50vw;
}

.fontblack {
	color: #000000;
}