<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Story-8 Rifqi</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.min.css' %}">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
</head>

<body>

	<div class="flexbox-container margin5">
		<h1>STOPANCAKU</h1>
		<h4>Story Lapan Cari Buku</h4>
	</div>


	<div class="flexbox-container margin2">
		<div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 width-50vw">
			<div class="input-group">
		    	<input id="boxsearch" type="search" placeholder="Cari buku apa nih?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
	      		<div class="input-group-append">
	      			<button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
	    		</div>
	    	</div>
	    </div>
    </div>

    <table class="table table-striped table-bordered margin2">
	    <thead class="thead-light">
	      <tr>
	        <th width=25% class="title text-center">Judul Buku</th>
	        <th width=35% class="desc text-center">Deskripsi Buku</th>
	        <th width=17% class="link text-center">Penulis</th>
	        <th width=25% class="img text-center">Sampul Buku</th>
	      </tr>
	      
	    </thead>

	    <tbody>
	    </tbody>
    </table>

</body>